body {
  background-color: rgb(241, 247, 250);
}

header {
  text-align: center;
  padding: 10px;
}

header h1 {
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: cursive;
}
header hr {
  width: 10%;
  border: 2px solid rgb(187, 123, 4);
  border-radius: 5px;
}
